@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--font-sans: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	--color-gray-500: oklch(55.1% .027 264.364);
	--color-white: #fff;
	--spacing: .25rem;
	--text-xs: .75rem;
	--text-xs--line-height: calc(1/.75);
	--text-sm: .875rem;
	--text-sm--line-height: calc(1.25/.875);
	--text-lg: 1.125rem;
	--text-lg--line-height: calc(1.75/1.125);
	--text-xl: 1.25rem;
	--text-xl--line-height: calc(1.75/1.25);
	--text-2xl: 1.5rem;
	--text-2xl--line-height: calc(2/1.5);
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--animate-spin: spin 1s linear infinite;
	--animate-pulse: pulse 2s cubic-bezier(.4,0,.6,1)infinite;
	--default-transition-duration: .15s;
	--default-transition-timing-function: cubic-bezier(.4,0,.2,1);
	--default-font-family: var(--font-sans);
	--default-mono-font-family: var(--font-mono);
	--radius: .5rem;
	--background: oklch(1 0 0);
	--foreground: oklch(.141 .005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(.141 .005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(.141 .005 285.823);
	--primary: oklch(.723 .219 149.579);
	--primary-foreground: oklch(.982 .018 155.826);
	--secondary: oklch(.967 .001 286.375);
	--secondary-foreground: oklch(.21 .006 285.885);
	--muted: oklch(.967 .001 286.375);
	--muted-foreground: oklch(.552 .016 285.938);
	--accent: oklch(.967 .001 286.375);
	--accent-foreground: oklch(.21 .006 285.885);
	--destructive: oklch(.577 .245 27.325);
	--border: oklch(.92 .004 286.32);
	--input: oklch(.92 .004 286.32);
	--ring: oklch(.723 .219 149.579);
	--chart-1: oklch(.646 .222 41.116);
	--chart-2: oklch(.6 .118 184.704);
	--chart-3: oklch(.398 .07 227.392);
	--chart-4: oklch(.828 .189 84.429);
	--chart-5: oklch(.769 .188 70.08);
	--sidebar: oklch(.985 0 0);
	--sidebar-foreground: oklch(.141 .005 285.823);
	--sidebar-primary: oklch(.723 .219 149.579);
	--sidebar-primary-foreground: oklch(.982 .018 155.826);
	--sidebar-accent: oklch(.967 .001 286.375);
	--sidebar-accent-foreground: oklch(.21 .006 285.885);
	--sidebar-border: oklch(.92 .004 286.32);
	--sidebar-ring: oklch(.723 .219 149.579);
}

html, body, #root{
	height: 100%;
}

body{
	color: var(--foreground);
	font-family: Pretendard, var(--font-sans);
	background: var(--background);
}
